<button class="btn btn-default" {{action 'newGame'}} >New Game</button>
<div class="gameButtons">
  <button class="btn btn-success" {{action 'setGamePiece' 'X'}} >X</button> or <button class="btn btn-danger" {{action 'setGamePiece' 'O'}} >O</button>
</div>

<div class="col-md-6 col-md-offset-3">
  <div class="table-responsive">
    <tbody>
      <tr>
        <td id="top-left" {{action 'buttonClicked' 'topLeft'}} > {{topLeft}} </td>
        <td id="top-center" {{action 'buttonClicked' 'topCenter'}}> {{topCenter}} </td>
        <td id="top-right"{{action 'buttonClicked' 'topRight'}}> {{topRight}} </td>
      </tr>
      <tr>
        <td id="middle-left" {{action 'buttonClicked' 'middleLeft'}}> {{middleLeft}} </td>
        <td id="middle-center" {{action 'buttonClicked' 'center'}}> {{center}} </td>
        <td id="middle-right" {{action 'buttonClicked' 'middleRight'}}> {{middleRight}} </td>
      </tr>
      <tr>
        <td id="bottom-left" {{action 'buttonClicked' 'bottomLeft'}}> {{bottomLeft}} </td>
        <td id="bottom-center" {{action 'buttonClicked' 'bottomCenter'}}> {{bottomCenter}} </td>
        <td id="bottom-right" {{action 'buttonClicked' 'bottomRight'}}> {{bottomRight}} </td>
      </tr>
    </tbody>
    {{#if gamePiece}} You're {{gamePiece}} {{/if}}
  </div>
</div>

